<navbar></navbar>
<div class="agents">
  
  <div class="search">
    <!--<h1>{{ $ctrl.ms }}</h1>-->
    <div class="search-input">
      <input class="search-field" ng-model="keyword"/>
      <button class="search-button" ng-click="$ctrl.searchKeyword(keyword)">Search</button>
    </div>
    
  </div>

  <div class="results">

    <div class="result-item">
      <div class="flex-container">
        <div class="photo">
          <img src="http://ww3.sinaimg.cn/mw690/6b10d613tw1edk0bkiqi3j20ch0g4aai.jpg"/>
        </div>

        <div class="name">
          <div class="agent-name">
            Agent Name
          </div>

          <div class="agency-name">
            Agency Name
          </div>
        </div>
      </div>
    </div>

    <div class="result-item">
      <div class="flex-container">
        <div class="photo">
          <img src="http://ww3.sinaimg.cn/mw690/6b10d613tw1edk0bkiqi3j20ch0g4aai.jpg"/>
        </div>

        <div class="name">
          <div class="agent-name">
            Agent Name
          </div>

          <div class="agency-name">
            Agency Name
          </div>
        </div>
      </div>
    </div>

    <div class="result-item">
      <div class="flex-container">
        <div class="photo">
          <img src="http://ww3.sinaimg.cn/mw690/6b10d613tw1edk0bkiqi3j20ch0g4aai.jpg"/>
        </div>

        <div class="name">
          <div class="agent-name">
            Agent Name
          </div>

          <div class="agency-name">
            Agency Name
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
