<navbar></navbar>
<div class="agents">
  
  <div class="search">
    <div class="search-input">
      <input class="search-field" ng-model="keyword"/>
      <button class="search-button" ng-click="$ctrl.searchKeyword(keyword)">Search</button>
    </div>
    
  </div>

  <div class="results">
    <div ng-if="$ctrl.agentsList.length == 0">
      <h1>Sorry, there's no matched result.</h1>
    </div>
    <div class="result-item" ng-repeat="agent in $ctrl.agentsList" 
         ng-class="{'desktop-width': $ctrl.windowWidth == 'desktop' || $ctrl.windowWidth == 'laptop',
                    'pad-width': $ctrl.windowWidth == 'pad',
                    'phone-width': $ctrl.windowWidth == 'phone'}">
      <div class="flex-container">
        <div class="photo" 
            ng-class="{'desktop-width': $ctrl.windowWidth == 'desktop' || $ctrl.windowWidth == 'laptop',
                    'pad-width': $ctrl.windowWidth == 'pad',
                    'phone-width': $ctrl.windowWidth == 'phone'}">
          <img  ng-src="{{agent.ImageUrl}}"/>
        </div>

        <div class="name">
          <div class="agent-name">
            {{ agent.Name }}
          </div>

          <div class="agency-name">
            {{ agent.SecondaryName }}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
